<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>springboot-login</title>
</head>
<body>
<div th:include="top.html"></div>
<form method="post" action="/user/login">
    <fieldset style="border: 1px solid gray;border-radius: 10px; width: 300px">
        <legend>用户登录</legend>
        <input type="hidden" name="userId" value="0"/>
    username:<input type="text" name="username"><br>
    password:<input type="password" name="password"><br>
    <input type="submit" value="登录"/>
    </fieldset>

</form>
</body>
</html>